*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
header{
    background-color: lightgrey;
    text-align: center;
    padding: 25px;
}
.navbar{
    background-color: black;
}
aside{

    width:20%;
    float: left;
    padding: 10px;
}
section{

    width: 40%;
    float: left;
    padding: 10px;
}
article{
    border: solid;
    width: 40%;
    float: left;
    padding: 5px;
    
}
footer{
    display: block;
    clear: both;
    background-color: lightgrey;
    text-align: center;
    padding: 25px;
}

@media screen and (max-width:600px){
    aside,section,article{
        width:auto
    }
}
    
